@import "tailwindcss";

@media print {
    body * {
        visibility: hidden;
    }
    #receipt-print,
    #receipt-print * {
        visibility: visible;
    }

    #receipt-print {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 12px;
    }
}

@theme {
  --color-navy:  #00173A;   
  --color-brown: #56442D;   
  --color-beige: #EADBC8;  
  --color-cream: #FDF9F5;   
}

:root {
    --text-h: #102C57;
    --text: #102C57;
    --border: rgba(16, 44, 87, 0.35);
    --bg: #FEFAF6;
    --accent: #102C57;
    --code-bg: rgba(16, 44, 87, 0.04);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #FEFAF6;
    color: #102C57;
}