@import "tailwindcss";

:root {
    --text-h: #102C57;
    --text: #102C57;
    --border: rgba(16, 44, 87, 0.35);
    --bg: #FEFAF6;
    --accent: #102C57;
    --code-bg: rgba(16, 44, 87, 0.04);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #FEFAF6;
    color: #102C57;
}